ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks
        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ""
    autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
    autoupdate_schedule: weekly
    skip: []
    submodules: false
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
        args: ["--allow-multiple-documents"]
        files: ^src/
    -   id: check-toml
        files: ^src/
    -   id: end-of-file-fixer
        files: ^src/
    -   id: mixed-line-ending
        files: ^src/
    -   id: pretty-format-json
        args: ["--autofix", "--no-sort-keys"]
        files: ^src/
    -   id: trailing-whitespace
        files: ^src/
-   repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9020
    hooks:
    -   id: lintr
        files: \.R$|\.Rmd$
    -   id: parsable-R
        files: \.R$|\.Rmd$
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
    -   id: shfmt
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
    -   id: ruff
        args: ["check", "--select", "I", "--fix"]
        files: '\.py$'
    -   id: ruff
        files: '\.py$'
    -   id: ruff-format
        args: ["--line-length", "79"]
        files: '\.py$'
-   repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
    -   id: typos
        args: ["--force-exclude"]