name: "Update COVID Target Data"

on:
  workflow_dispatch:
  schedule:
    - cron: "00 17 * * 3" # run every Wednesday at 5:00 PM UTC (1:00 PM EST)
    
jobs:
  update-target-data:
    if: ${{ github.repository_owner == 'CDCgov' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: "Generate Installation Token"
      id: get_token
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ vars.GH_APP_ID }}
        private-key: ${{ secrets.GH_APP_KEY }}

    - name: "Checkout Code"
      uses: actions/checkout@v6

    - name: "Set Up hubhelpr"
      uses: cdcgov/hubhelpr/actions/setup-hubhelpr@main

    - name: "Update Target Data"
      uses: cdcgov/hubhelpr/actions/update-target-data@main
      with:
        disease: "covid"
        github_token: ${{ steps.get_token.outputs.token }}
        api_key_id: ${{ secrets.NHSN_API_KEY_ID }}
        api_key_secret: ${{ secrets.NHSN_API_KEY_SECRET }}
        legacy_file: "true"
        nssp_update_local: "true"
